# rcov generated
coverage
coverage.data

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

# jeweler generated
pkg
Gemfile.lock

# locally important files, very dev-specific
.tool-versions
.ruby-version
.ruby-gemset
